<!-- <div class="container-fluid"> -->
	<!-- <div class="row"> -->
<!-- /Menu-->
  <div id="header-nav">
    <div class="container">
  <!-- H1 for SEO -->
    <div class="brand">
      <a href="/"><h1>Vitter</h1></a>
    </div>
    <!-- Small screen menu button -->
		<a href="#menu" class="menu-link">
      <span class="bar1"></span>
      <span class="bar2"></span>
      <span class="bar3"></span>
     </a>
    <!-- /Small screen menu button -->

    <!-- Menu Items -->
    <nav id="menu" role="navigation">
			<ul>
				<li><a href="#">Create a new tweet</a></li>
				<li><%= link_to 'Profile', tweets_path %></li>
					<li><%= link_to 'Signout', '/signout' %></li>
			</ul>
		</nav>
    <!-- /Menu Items -->
      </div>
	</div>
<!-- /Menu -->

		<div class="col-md-12">

			<h5 class="headline">Step: 1 <%= current_user.name %> pose in your best outfit and click 'Take Snapshot'</h5>
				<a href="javascript:void(take_snapshot())" class="btn btn-default snap">Take Snapshot</a>
					<h5 class="headline">Step: 2 Write how you feel in the tweet box.</h5>
			<div class="row">

				<div class="col-md-4">
					<div id="my_camera" style="width:450px; height:300px; border-radius: 7px; -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
						-webkit-transform: rotate(0.000001deg);"></div><br>
					<%= form_for @tweet do |f| %>
					<div class="play" >
						<div class="form-group" style="border-color:blue;">
							<%= f.label :content, "Compose a new tweet" %>
							<%= f.text_field :content, :class => "form-control"%>
							 <input id="media" type="hidden" name="media" value=""/>
						</div>
							<p>Your Snapshot appears here:</p>
    				<div id="my_result"></div>
					</div><br>
							<%= f.submit  :class => "btn btn-default" %>
							<% end %>
				</div>

				<div class="col-md-8 form">
				<h3>Twitterfeed</h3>
				<%= @tweet.client.user_timeline(current_user.username).each do |t| %>
					<%= t.text %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
  Webcam.attach( '#my_camera' );

	function take_snapshot() {
      Webcam.snap( function(data_uri) {
				// console.log(data_uri.replace(/^data\:image\/\w+\;base64\,/, ''))
				// alert(data_uri)
        document.getElementById('my_result').innerHTML = '<img src="'+data_uri+'"/>';
				var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
				var complete_image_data = data_uri
        document.getElementById('media').value = raw_image_data;
      } );
  }
</script>
